/*
====================================================

* 	[Master Stylesheet]
	
	Theme Name :  LYCEUM
	Version    :  1.1
	Author     :  Roman Ahmed
	Author URI :  https://themeforest.net/user/desroman
	
====================================================

	TOC:
	=======
	
	1. Primary Styles
	2. Custom Utility Classes
	3. Animatons
	4. Header Section Styles
		4.1 - Top Menu
		4.2 - Main menu 
		4.3 - Fixed Menu
		4.4 - Search Area
		4.5 - Toggle cake Icon
	5. Slider Section Styles
		5.1 - Slider Caption
	6. ABOUT
	7. Counter Section Styles
	8. Teachers Section Styles
	9. Certificate
	10. Footer Section Styles
	11. Move To Top Button Style
	
	
===================================================== */


/* ---------------------------------
1. Primary Styles
--------------------------------- */

/* Check out "common-css/primary-styles-n-colors.css-2" file*/


/* ---------------------------------
2. Custom Utility Classes
--------------------------------- */

/* Check out "common-css/primary-styles-n-colors.css-2" file*/


/* ---------------------------------
3. Animatons
--------------------------------- */

/* Check out "common-css/page-animation.css" file*/


/* --------------------------------- */
/* 4. Header Section Styles
 ----------------------------------- */

 header{ position:absolute; top:0; left: 0; width: 100%; }


/* 4.1 - Top Menu */

.top-menu{ margin: 0px; position: relative; z-index: 10; padding: 5px 0; }

.top-menu ul{ display: inline-block; text-align: center; }

.top-menu ul >li>a{ padding: 5px 10px; }

.top-menu ul >li>a i{ margin-right: 10px; }


/* 4.2 - Main menu */

.main-menu{ border: 0; border-radius: 0; margin: 0; text-align: right; width: 100%; position: relative; z-index: 10; 
	transition: all .2s ease-in-out; padding: 10px 0; }

.main-menu-inner{ position: relative; }

.main-menu .navbar-nav{ margin: 0; }

.main-menu .collapse.navbar-collapse{ line-height: 0!important ;}

.main-menu .nav-right-area{ position: absolute; top: 0; right: 0; z-index: 10; padding-left:30px; }

.main-menu ul.main-nav{ float: none; display: inline-block; margin-left: 120px; transition: all .3s ease-in-out; }

.main-menu ul.main-nav> li,
.main-menu .nav-right-area li { padding: 15px 0px; transition: all .2s; }

.main-menu ul.main-nav> li> a,
.main-menu .nav-right-area li .search-btn{ padding: 5px 15px; transition: all .2s; }
	
.main-menu .navbar-header{ position: absolute; left: 0; top: 0 ; }

.main-menu .main-logo img{ height: 40px; width: auto; margin: 10px 0; transition: all .3s; }


/* 4.2 - Dropdown */

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu{ border-radius: 0; padding: 0; border: 0;
	border-top-width: 2px; border-top-style: solid; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li{ display: block; border-bottom-width: 1px; border-bottom-style: solid; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu >li:last-child{ border-bottom-width: 0; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li> a{ padding: 13px 20px; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li> a:hover{  }

	
/* 4.3 - Fixed Menu */

.fixed-manu.main-menu{ position: fixed; top: 0; padding: 0px 0; box-shadow: 0px 2px 5px -2px #aaa; }


/* 4.4 - Search Area */

.search-area{ position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; z-index: -100; opacity: 0; 
	transition: opacity .3s .1s; }

.search-area-anim{ opacity: 1; z-index: 100; }

.search-area .close-btn{ font-size: 250%; position: absolute; top: 30px; right: 30px; }

.search-area input[type='text']{ font-size: 220%; padding: 10px 20px; position: absolute; top: 45%; margin-top: -20px; 
	left: 15%; right: 15%; width: 70%; }

.search-area button.search-submit-btn{ font-size: 220%; padding: 0px 20px; position: absolute; top: 45%; 
	right: 15%; margin-top: -10px; }


/* 4.5 - Toggle cake Icon */

.main-menu .navbar-toggle{ float: none; border-radius:0; margin: 18px auto 0; border: 0; width: 30px; height: 40px; 
	background: none!important; }

.navbar-toggle span{ display: block; position: absolute; height: 4px; width: 50%; }

.navbar-toggle span:nth-child(even){ left: 50%; }

.navbar-toggle span:nth-child(odd){ left: 0px; }

.navbar-toggle span:nth-child(1),
.navbar-toggle span:nth-child(2){ top: 0; }

.navbar-toggle span:nth-child(3),
.navbar-toggle span:nth-child(4){ top: 10px; }

.navbar-toggle span:nth-child(5),
.navbar-toggle span:nth-child(6){ top: 20px; }

 
/* --------------------------------- */
/* 5. Slider Section Styles
 ----------------------------------- */

.full-height .item{ width: 100%; background-size: cover; background-position: center; 
	background-repeat: no-repeat; padding: 180px 0 100px; }

.carousel.fade{ opacity: 1; }

.carousel.fade .item{ display: block; width: 100%; position: absolute; top: 0; left: 0; opacity: 0; z-index: -1; 
	transition: opacity 1s .2s ease-in-out;  display: table; }
	
.carousel.fade .item.active{ opacity: 1; z-index: 1; }

.carousel.fade .item:first-child{ position: relative; top: auto; }

.carousel .layer{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -1; }


/* 5.1 - Slider Caption */

.carousel-writing{ text-shadow: none; }

.carousel-writing.center-writing{ text-align: center; }

.carousel-writing.right-writing{ text-align: right; }

.carousel .carousel-writing .carousel-heading{ letter-spacing: 2px; }


/* --------------------------------- */
/* 6. CONTACT
/* --------------------------------- */

.contact-area .heading{ margin: 0; margin-bottom: 50px; }

.contact-area .details{ margin-bottom: 40px; margin-right: 20px; }

.contact-area .details li{ display: block; padding-bottom: 10px; position: relative; }

.contact-area .details li span{  margin: 5px 0px ; margin-left: 55px; display: block; }

.contact-area .details li i{ height: 35px; width: 35px; border-radius: 50px; line-height: 35px; text-align: center; 
	position: absolute; left: 0; top: 3px; }

.contact-area .contact-form-area{ margin-bottom: 40px; }

.contact-area .contact-form-area .form-group .form-control{ border-radius: 1px; border-width: 1px; border-style: solid; 
	padding: 0px 20px; }

.contact-area .contact-form-area .form-group .form-control.messge-control{ max-width: 100%; padding: 15px 20px; }
	
.contact-area .contact-form-area .form-group .form-control:focus{ border-width: 1px; border-style: solid; box-shadow: none; }

.contact-area .contact-form-area .form-group .btn-submit{ padding: 15px 25px; }


/* --------------------------------- */
/* 10. Footer Section Styles
 ----------------------------------- */
 
footer { position: relative; background-image: url(../../images/footer-bg-map.png); background-repeat: no-repeat;
	background-position: 10% 30%; background-size: 60%; }

footer .footer-top .widget{ text-align: left; margin: 0 20px 20px 0; }

footer .footer-top .widget img{ height: 50px; width: auto; }

footer .footer-top .widget .desc{ margin-top: 10px; }
	
footer .footer-top ul.featured{ display: inline-block; margin-right: 20px; }

footer .footer-top .footer-section{ margin-bottom: 20px; }

footer .footer-top .footer-section .heading{ margin-bottom: 20px; }

footer .footer-top .footer-section .heading:after{ content:''; display: block; width: 50px; height: 1px; margin-top: 5px; }

footer .footer-top .footer-section li{ display: block; margin-bottom: 5px; position: relative; }

footer .footer-top .footer-section.about li:before,
footer .footer-top .footer-section.featured-links li:before{ content:'\f105 '; font-family: FontAwesome; margin-right: 10px; }

footer .footer-top .footer-section li span{ margin-left: 30px; }

footer .footer-top .footer-section li i{ position: absolute; top: 5px; }

footer .footer-bottom .footer-bottom-inner{ border-top-width: 0px; border-top-style: solid; padding: 15px 0; overflow: hidden; }

footer .footer-bottom .copyright-writing{ font-size: 90%; }

footer .footer-bottom .icons{ text-align: right; }

footer .footer-bottom .icons i{ margin-left: 15px; font-size: 90%; font-weight: 400; }


/* --------------------------------- */
/* 11. Move To Top Button Style
 ----------------------------------- */

.move-to-top{ position: fixed; bottom: 20px; right:20px; z-index: 10; opacity: 0; text-align: center; border-radius: 1px; 
	transition: all .6s; transform: scale(0); padding: 5px 15px; font-size: 120%; border-radius: 3px;  }

.move-to-top i{ margin: 0; }	

.visible-move-top-btn{ opacity: 1; transform: scale(1); }

.move-to-top:focus{ outline: none; }


