/*
====================================================
	
	TOC:
	=======
	
	1. Primary Styles
	2. Custom Utility Classes
	3. Header Section Styles
		3.1 - Top Menu
		3.2 - Main menu 
		3.3 - Fixed Menu
		3.4 - Search Area
		3.5 - Toggle cake Icon
	4. Slider Section Styles
		4.1 - Slider Caption
	5. Featured Section Styles
	6. Services Section Styles
	7. Courses Section Styles
	8. Specialized Section Styles
	9. Teachers Section Styles
	10. Counter Section Styles
	11. Quoto Section Styles
	12. Event Section Styles
	13. Latest News Section Styles
	14. Newsletter Section 
	15. Footer Section Styles
	16. Move To Top Button Style

===================================================== */

/* ---------------------------------
1. Primary Styles
--------------------------------- */

/* Check out "common-css/primary-styles-n-colors.css-2" file*/


/* ---------------------------------
2. Custom Utility Classes
--------------------------------- */

/* Check out "common-css/primary-styles-n-colors.css-2" file*/


/* --------------------------------- */
/* 3. Header Section Styles
--------------------------------- */

/* 3.1 - Top Menu */

.top-menu{ background-color: #468EE4; }

.top-menu a{ color: #fff; }

.top-menu a:hover{ color: #eee; }


/* 3.2 - Main menu  */

.main-menu{ background-color: rgba(255,255,255,0); }

.main-menu.navbar-default ul.main-nav> li,
.main-menu.navbar-default ul.main-nav> li>a,
.main-menu.navbar-default .nav-right-area li .search-btn,
.main-menu .navbar-collapse{ color: #eee; border-color: #ddd; }


/* Hover */

.main-menu ul.main-nav> li:hover> a,
.main-menu .nav-right-area li:hover .search-btn,
.fixed-manu.main-menu ul.main-nav> li:hover> a,
.fixed-manu.main-menu .nav-right-area li:hover .search-btn,
.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li:hover a{ color: #468EE4; }


/* 3.3 - Dropdown */

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu { background-color: #fff; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li{ color: #000; border-color: #eee; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li> a:hover{ background: #eee; }

.main-menu ul.main-nav> li.active> a,
.main-menu ul.main-nav> li.active> a:hover,
.fixed-manu.main-menu ul.main-nav> li.active> a,
.fixed-manu.main-menu ul.main-nav> li.active> a:hover,
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover{ color: #468EE4; background: none; }

.navbar-default .navbar-nav .open .dropdown-menu > li >a,
.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li> a { color: inherit; background: none; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu{ border-color: #468EE4; }


/* 3.4 - Fixed Menu */

.fixed-manu.main-menu,
.fixed-manu.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu{ background-color: #fff; }

.fixed-manu.main-menu ul.main-nav> li>a,
.fixed-manu.main-menu .nav-right-area li .search-btn,
.fixed-manu.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li{ color: #000; border-color: #eee; }


/* 3.5 - Search Area */

.search-area{ background-color: rgba(255,255,255,.99); }

.search-area .close-btn{ color: #000; }

.search-area input[type='text']{ color: #666; border-bottom: 1px solid #d0d2d2; background-color: transparent; }

.search-area button.search-submit-btn{ color: #666; background-color: transparent; }


/* --------------------------------- */
/* 4. Slider Section Styling 
--------------------------------- */

.carousel .carousel-control-prev,
.carousel .carousel-control-next{ color: #fff; }

.carousel .black-layer{ background-color: rgba(0,0,10,.3);
	background-image: linear-gradient( 45deg, rgba(0,0,0,.2), rgba(30,30,30,.5)); }

.carousel .white-layer{ background-color: rgba(245,255,235,.3); }

.full-height .item{ background-color: #eee; }

	
/* 4.1 - Slider Caption */

.carousel .carousel-writing .carousel-heading,
.carousel .carousel-writing .carousel-desc{ color: #fff; }

.carousel .carousel-writing .carousel-btn.tour-btn{ color: #468EE4; border-color: #468EE4;  }

.carousel .carousel-writing .carousel-btn.apply-btn{ color: #fff; border-color: #468EE4; background-color: #468EE4; }

.carousel .carousel-writing .carousel-btn.tour-btn:hover{ color: #fff; background-color: #468EE4; }

.carousel .carousel-writing .carousel-btn.apply-btn:hover{ color: #468EE4; background: transparent; }


/* --------------------------------- */
/* 6. Services Section Styling */
/* --------------------------------- */

.services-area{ background-color: #F9F9F9; }

.services-area .service-content .icon{ }


/* --------------------------------- */
/* 5. Featured Section Styling */
/* --------------------------------- */

.featured-area{ background-color: #fff; }

.featured-area .service-content .read-more-btn{ color: #111; }

.featured-area .service-content .read-more-btn:before{ background-color: #111; }

.featured-area .service-content .read-more-btn:hover{ color: #468EE4; }

.featured-area .service-content .read-more-btn:hover:before{ background-color: #468EE4; }


/* --------------------------------- */
/* 7. Courses Section Styling */
/* --------------------------------- */

.courses-area{ background-color: #F9F9F9; }

.course{ background-color: #fff; }

.course .course-info .level{ color: #bbb; }

.course .course-info .name .star{ color: #ccc; }

.course .course-footer{ border-color: #eee; }


/* --------------------------------- */
/* 8. Specialized Area Section Styling
 --------------------------------- */

.specialized-area{ background-color: #fff; }

.specialized-area .specialize-wrapper{ background-color: #222222; }

.specialized-area .specialize .heading-desc{ color: #eee; }

.specialized-area .specialize .title{ color: #fff; }

.specialized-area .specialize .desc{ color: #ccc; }

.specialized-area .enroll-btn{ color: #fff; border-color: #468EE4; background-color: #468EE4;
	background-image: linear-gradient(45deg, #468EE4 0%, #4C85C5 100%);  }

.specialized-area .enroll-btn:hover{ color: #468EE4; background: transparent; }

	
/* --------------------------------- */
/* 9. Teachers Section Styling */
/* --------------------------------- */

.teachers-area{ background-color: #F9F9F9; }

.teacher .social-icon a:hover i{ color: #000; }

.teacher .title .designation:before,
.teacher .title .designation:after{ background-color: #ddd; }


/* --------------------------------- */
/* 10. Counter Section Styling */
/* --------------------------------- */

.counter-area .layer{ background: rgba(15,15,15,.97); }

.counter-area .counter .desc,
.counter-area .counter .icon,
.counter-area .counter .counter-text{ color: #fff; }


/* --------------------------------- */
/* 11. Event Section Styling */
/* --------------------------------- */

.events-notice-area{ background-color: #fff; }

.event .date .main-date{ color: #ddd; }

.event .date .month{ color: #bbb; }

.event .attend-btn{ border-color: #ddd; }

.event .attend-btn:hover{ border-color: #000; background-color: #000; color: #fff; }


/* --------------------------------- */
/* 12. Quoto Section Styling */
/* --------------------------------- */

.quoto-area .layer{  background: rgba(40,40,40,.95); }

.quoto-area  .title{ color: #fff; }
 
.quoto-area .quoto .quoto-icon{ color: #eee; }
 
.quoto-area .quoto .single-quoto,
.quoto-area .quoto .person .author .title,
.quoto-area .quoto .person .author .designation{ color:#fff; } 

.quoto-area .quoto .person .image-wrapper img{ background-color: #eee; }

.quoto-area .carousel-indicators li{ border-color: #fff; } 

.quoto-area .carousel-indicators li.active { background-color: #fff; }

	
/* --------------------------------- */
/* 13. Latest News Section Styling */
/* --------------------------------- */

.latest-news-area{ background-color: #F5F7F7; }

.news .desc-wrapper{ background-color: #fff; }

.news .image-wrapper .subject{ background-color: #468EE4; color: #fff; }

.news .desc-wrapper .author{ color: #333; }

.news .desc-wrapper .author:hover{ color: #468EE4; }


/* --------------------------------- */
/* 14. Newsletter Section 
 --------------------------------- */

.newsletter-section{ background-color: #F5F7F7; }

.newsletter-section .layer{ background: linear-gradient(45deg, rgba(88, 153, 230, .96) 0%,rgba(11, 203, 253, .97) 100%); } 

.newsletter-section .heading .title{ color: #fff; }

.newsletter-section .heading  .heading-desc{ color: #fff; }

.newsletter-section .email-input .form-control,
.newsletter-section .input-group-addon,
.newsletter-section .submit-btn{ border-color: #fff; }

.newsletter-section .input-group-addon,
.newsletter-section .submit-btn{ background-color: #468EE4; color: #fff; }

.newsletter-section .submit-btn:hover{ background-color: #000; }

.newsletter-section .email-input .form-control{ background-color: #eee; }

.newsletter-section .email-input .form-control:focus{ border-color: #468EE4; background-color: #fff; }


/* --------------------------------- */
/* 15. Footer Section Styling  
--------------------------------- */

footer .footer-top{ background-color: rgba(30,30,30,.95 ); }

footer .footer-bottom{ background-color: rgba(20,20,20,.99 ); }

footer .footer-section .heading{ color: #fff; }

footer p,
footer .footer-section li,
footer .footer-section a{ color: #aaa; }

footer .footer-top .footer-section .heading:after{ background-color: #468EE4; }

footer .footer-top .footer-section.get-in-touch i{ color: #468EE4; }

footer .footer-top .footer-section li a:hover,
footer .footer-top .footer-section li:before{ color: #468EE4; }

footer .footer-bottom .footer-bottom-inner{ border-color: #ccc; }


/* --------------------------------- */
/* 16. Move To Top
--------------------------------- */

.move-to-top,
.move-to-top:hover,
.move-to-top:focus{ background-color: #468EE4; color: #fff; }

