

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	
	
	body{ font-size: 14px; }
	
	.main-menu ul.main-nav,
	.fixed-manu.main-menu ul.main-nav{ margin-right: 0px; }
	
	
	/* Carousel */
	
	.carousel-writing{ padding: 0px 10px; }
	
	.carousel .carousel-writing .carousel-btn{ padding: 10px 20px;}
	
	
	.counter-area .counter{ text-align: center; }
	
	.counter-area .counter .icon{ display: block; float: none; }
	
	.specialized-area .specialize{ padding: 60px 40px; }
	
}


/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	
	
	/* Custom Utility Classes */
	
	.section{ padding: 70px 0 30px; }

	.section .heading{ margin-bottom: 50px; }
	
	
	/* Top Menu */
	
	.top-menu ul.align-right{ float: none; display: block; }
	
	.top-menu ul.align-left{ float: none; display: block; }
	
	.top-menu ul a{ padding: 0px 5px;}
	
	
	/* Main Menu */
	
	.main-menu{ text-align: left; }
	
	.fixed-manu.main-menu ul.main-nav,
	.main-menu ul.main-nav{ margin: 0px; display: block; }
	
	.main-menu ul.main-nav> li{ display: block; text-align: left; padding: 0px; border-bottom-width: 1px; 
		border-bottom-style: solid; }
	
	.main-menu ul.main-nav> li> a{  padding: 15px 10px; border-right: 0; }
	
	.main-menu ul.main-nav> li:last-child{ border: 0; }

	.main-menu .navbar-header{ position: relative; }
	
	.main-menu .navbar-toggle{ position: absolute; top: 0; right: 0; }
	
	.main-menu .navbar-collapse{ overflow-y: auto; max-height: 380px; position: relative; border-top-width: 1px; 
		border-top-style: solid; }

	
	/* Color */

	.main-menu,
	.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu { background-color: #333; }

	.main-menu.navbar-default ul.main-nav> li,
	.main-menu.navbar-default ul.main-nav> li>a,
	.main-menu.navbar-default .nav-right-area li .search-btn,
	.main-menu .navbar-collapse,
	.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li{ color: #fff; border-color: #444; }
	
	.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li> a:hover{ background: none; }
	
	
	/* 3.6 - Toggle cake Icon */

	.main-menu .navbar-toggle span{ background-color: #fff; }

	.fixed-manu.main-menu .navbar-toggle span{ background-color: #000; }

	
	/* Fixed Menu COlor */
	
	.fixed-manu.main-menu,
	.fixed-manu.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu { background-color: #fff; }

	.fixed-manu.main-menu.navbar-default ul.main-nav> li,
	.fixed-manu.main-menu.navbar-default ul.main-nav> li>a,
	.fixed-manu.main-menu.navbar-default .nav-right-area li .search-btn,
	.fixed-manu.main-menu .navbar-collapse,
	.fixed-manu.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li{ color: #000; border-color: #ddd; }

	
	/* Dropdown */
	
	.navbar-nav .dropdown-menu { position: static; float: none; width: auto; margin-top: 0; border: 0; box-shadow: none; }


	/* Carousel */
	
	.full-height .item{ padding: 130px 0 50px; }


	/* Carousel Writings */
	
	.carousel-writing{ padding: 10px 20px 50px; }
	
	.carousel-writing,
	.carousel-writing.right-writing{ text-align: center; }
	

	/* Courses */
	
	.course .image-wrapper{ float: none; }

	.course .course-Info{ display: block; margin: 20px 0px; }

	.course .right-area{ position: static; text-align: left; }

	
	/* Service */
	
	.services-area .heading{ margin-top: 0px; }
	
	
	/* Quoto */
	
	.quoto-area .heading{ margin-top: 0px; }
	
	
	/* Featured  */
	
	.featured-area .service-content{ text-align: center; margin-top: 20px; }

	
	/* Service */
	
	.services-area{ text-align: center; }
	
	
	/* Event Section Styles */

	.event{ text-align:center;}
	
	.event .date{ width: 100%; float: none;  }
	
	.event .date span{ display: inline-block; }
	
	.event .desc-wrapper{ margin-left: 0px; }


	/* Footer */
	
	footer .footer-top .widget{ text-align: left; }
	
	footer .footer-top .newsletter{ text-align: left; }
	
	footer .footer-bottom{ text-align: center; }
	
	footer .footer-bottom  .icons{ text-align: center; }
	
	
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {


	/* Primary Styles */
	
	body{ font-size: 12px; }

	
	/* Main Menu */
	
	.main-menu ul.main-nav{ display: block; }
	
	
	/* Carousel Writings */
	
	.carousel .carousel-writing .carousel-desc{ display: none; }
	
	.carousel .carousel-writing .carousel-btn{ padding: 10px 25px; }
	
	
	/* newsletter-section  */
 
	.newsletter-section .submit-btn{ padding: 15px 10px;}
	
	
}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {
	
	
	/* Main Menu */
	
	.main-menu .navbar-header img{ height: 30px; width: auto; margin: 15px auto; }

	
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {
	
	
	/* Main Menu */
	
	.main-menu .navbar-header{ visibility:hidden; }
	
}
