/*
====================================================

* 	[Master Stylesheet]
	
	Theme Name :  LYCEUM
	Version    :  1.1
	Author     :  Roman Ahmed
	Author URI :  https://themeforest.net/user/desroman
	
====================================================

	TOC:
	=======
	
	1. Primary Styles
	2. Custom Utility Classes
	3. Animatons
	4. Header Section Styles
		4.1 - Top Menu
		4.2 - Main menu 
		4.3 - Fixed Menu
		4.4 - Search Area
		4.5 - Toggle cake Icon
	5. Slider Section Styles
		5.1 - Slider Caption
	6. Featured Section Styles
	7. Services Section Styles
	8. Courses Section Styles
	9. Specialized Section Styles
	10. Teachers Section Styles
	11. Counter Section Styles
	12. Event Section Styles
	13. Quoto Section Styles
	14. Latest News Section Styles
	15. Newsletter Section 
	16. Footer Section Styles
	17. Move To Top Button Style

===================================================== */


/* ---------------------------------
1. Primary Styles
--------------------------------- */

/* Check out "common-css/primary-styles-n-colors.css-2" file*/


/* ---------------------------------
2. Custom Utility Classes
--------------------------------- */

/* Check out "common-css/primary-styles-n-colors.css-2" file*/


/* ---------------------------------
3. Animatons
--------------------------------- */

/* Check out "common-css/page-animation.css" file*/


/* --------------------------------- */
/* 4. Header Section Styles
 ----------------------------------- */

 header{ position:absolute; top:0; left: 0; width: 100%; }


/* 4.1 - Top Menu */

.top-menu{ margin: 0px; position: relative; z-index: 10; padding: 5px 0; }

.top-menu ul{ display: inline-block; text-align: center; }

.top-menu ul >li>a{ padding: 5px 10px; }

.top-menu ul >li>a i{ margin-right: 10px; }


/* 4.2 - Main menu */

.main-menu{ border: 0; border-radius: 0; margin: 0; text-align: right; width: 100%; position: relative; z-index: 10; 
	transition: all .2s ease-in-out; padding: 10px 0; }

.main-menu-inner{ position: relative; }

.main-menu .navbar-nav{ margin: 0; }

.main-menu .collapse.navbar-collapse{ line-height: 0!important ;}

.main-menu .nav-right-area{ position: absolute; top: 0; right: 0; z-index: 10; padding-left:30px; }

.main-menu ul.main-nav{ float: none; display: inline-block; margin-left: 120px; transition: all .3s ease-in-out; }

.main-menu ul.main-nav> li,
.main-menu .nav-right-area li { padding: 15px 0px; transition: all .2s; }

.main-menu ul.main-nav> li> a,
.main-menu .nav-right-area li .search-btn{ padding: 5px 15px; transition: all .2s; }
	
.main-menu .navbar-header{ position: absolute; left: 0; top: 0 ; }

.main-menu .main-logo img{ height: 40px; width: auto; margin: 10px 0; transition: all .3s; }


/* 4.2 - Dropdown */

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu{ border-radius: 0; padding: 0; border: 0;
	border-top-width: 2px; border-top-style: solid; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li{ display: block; border-bottom-width: 1px; border-bottom-style: solid; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu >li:last-child{ border-bottom-width: 0; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li> a{ padding: 13px 20px; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li> a:hover{  }

	
/* 4.3 - Fixed Menu */

.fixed-manu.main-menu{ position: fixed; top: 0; padding: 0px 0; box-shadow: 0px 2px 5px -2px #aaa; }


/* 4.4 - Search Area */

.search-area{ position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; z-index: -100; opacity: 0; 
	transition: opacity .3s .1s; }

.search-area-anim{ opacity: 1; z-index: 100; }

.search-area .close-btn{ font-size: 250%; position: absolute; top: 30px; right: 30px; }

.search-area input[type='text']{ font-size: 220%; padding: 10px 20px; position: absolute; top: 45%; margin-top: -20px; 
	left: 15%; right: 15%; width: 70%; }

.search-area button.search-submit-btn{ font-size: 220%; padding: 0px 20px; position: absolute; top: 45%; 
	right: 15%; margin-top: -10px; }


/* 4.5 - Toggle cake Icon */

.main-menu .navbar-toggle{ float: none; border-radius:0; margin: 18px auto 0; border: 0; width: 30px; height: 40px; 
	background: none!important; }

.navbar-toggle span{ display: block; position: absolute; height: 4px; width: 50%; }

.navbar-toggle span:nth-child(even){ left: 50%; }

.navbar-toggle span:nth-child(odd){ left: 0px; }

.navbar-toggle span:nth-child(1),
.navbar-toggle span:nth-child(2){ top: 0; }

.navbar-toggle span:nth-child(3),
.navbar-toggle span:nth-child(4){ top: 10px; }

.navbar-toggle span:nth-child(5),
.navbar-toggle span:nth-child(6){ top: 20px; }

 
/* --------------------------------- */
/* 5. Slider Section Styles
 ----------------------------------- */

.full-height .item{ width: 100%; background-size: cover; background-position: bottom; background-repeat: no-repeat; 
	position: relative; overflow: hidden; padding: 250px 0 200px; }

.carousel.fade{ opacity: 1; }

.carousel.fade .item{ display: block; width: 100%; position: absolute; top: 0; left: 0; opacity: 0; z-index: -1; 
	transition: opacity 1s .2s ease-in-out; }

.carousel.fade .item.active{ opacity: 1; z-index: 1; }

.carousel.fade .item:first-child{ position: relative; top: auto; }

.carousel .layer{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; }


/* 5.1 - Slider Control  */

.carousel .carousel-control-prev,
.carousel .carousel-control-next{ position: absolute; z-index: 3; font-size: 4.5em; 
	height: 80px; bottom: 50%; margin-bottom: -40px; opacity: .2; }

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next{ opacity: .2; }

.carousel:hover .carousel-control-prev:hover,
.carousel:hover .carousel-control-next:hover{ opacity: 1; }

.carousel .carousel-control-prev{ left: -10px; }

.carousel .carousel-control-next{ right: -10px;; }


/* 5.2 - Slider Caption */

.carousel-writing{ text-shadow: none; }

.carousel-writing.center-writing{ text-align: center; }

.carousel-writing.right-writing{ text-align: right; }

.carousel .carousel-writing .carousel-heading{ letter-spacing: 2px; }

.carousel .carousel-writing .carousel-desc{ margin: 20px 0 30px; }

.carousel .carousel-writing .carousel-btn{ padding: 13px 40px; margin:5px 0px; border-width: 1.5px; border-style: solid; 
	transition: all .4s; text-decoration: none; }

.carousel .carousel-writing .apply-btn{ margin-right: 5px; }


/* --------------------------------- */
/* 6. Services Section Styles
 ----------------------------------- */

.services-area{ box-shadow: inset 0px 2px 5px -3px #aaa; padding: 80px 0 40px; }

.services-area .service{ margin-bottom: 40px; padding: 0px 20px; }

.services-area .service-content .icon{ font-size: 3em; display: block;  text-align: center;  margin-bottom: 10px; }

.services-area .service .title{margin: 0 auto;  text-align: center;}


/* --------------------------------- */
/* 7. Featured Section Styles
 ----------------------------------- */

.featured-area{ position: relative; text-align:center; box-shadow: inset 0px 2px 5px -3px #aaa; }
	
.featured-area .featured-writing{ margin-bottom: 40px; }

.featured-area .featured-writing .heading{ margin-bottom: 10px; }

.featured-area .first-service{ text-align: left; margin-bottom: 20px; }

.featured-area .second-service{ margin-top: 140px; margin-bottom: 40px; text-align: right;  }

.featured-area .service-content .icon{ font-size: 400%; margin-bottom: 10px; }

.featured-area .service-content .desc{ margin: 15px 0; }

.featured-area .service-content .read-more-btn{ position: relative; }

.featured-area .service-content .read-more-btn:before{ content:''; position: absolute; bottom: 0; left: 0;
	width: 100%; height: 1px; }


/* --------------------------------- */
/* 8. Courses Section Styles
 ----------------------------------- */

.courses-area{ position: relative; box-shadow: inset 0px 2px 5px -3px #aaa; }

.course{ margin-bottom: 40px; box-shadow: 0px 0px 10px -2px #ddd; }

.course .course-info{ padding: 30px 25px 20px;  }

.course .course-info .level{ margin-bottom: 15px; }

.course .course-info .name{ margin: 10px 0 15px; }

.course .course-info .name .star{ float: right; margin-right: 10px;}

.course .course-info .name .star i{ margin: 0; }

.course .course-footer{ padding: 20px 25px; border-top-width: 1px; border-top-style: solid; overflow: hidden;  }

.course .course-footer .lessons{ float: left; }

.course .course-footer .cost{ float: right; }

.show-all-btn{ padding: 13px 40px; margin: 40px 0; border-width: 1px; border-style: solid; line-height: 1; 
	transition: all .5s ease-in-out, color .1s ease-in-out; }


/* --------------------------------- */
/* 9. Specialized Section Styles
 ----------------------------------- */
 
.specialized-area{ position: relative; background-image: url(../../images/acm.png);
	background-position: left top; background-size: 48% 100%; background-repeat: no-repeat; margin-left: 30px;}

.specialized-area .specialize{ padding: 150px 40px; }

.specialized-area .desc{ margin: 20px 0 30px; }

.specialized-area .enroll-btn{ padding: 12px 35px; text-align: center; border-width: 1px; border-style: solid; 
	transition: all .5s ease-in-out, color .1s; }


/* --------------------------------- */
/* 10. Teachers Section Styles
 ----------------------------------- */

.teachers-area{ position: relative; }

.teacher{ margin-bottom: 40px; text-align: center; overflow: hidden; }

.teacher .title{ margin-top: 25px; }

.teacher .title .designation{ margin: 10px 0; position: relative; display: inline-block; }

.teacher .title .designation:before{ content: ''; display: block; height: 1px; position: absolute; top: 50%; 
	margin-top: -.5px; left: -1000px; right: 110%; }	

.teacher .title .designation:after{ content: ''; display: block; height: 1px; position: absolute; top: 50%; 
	margin-top: -.5px; right: -1000px; left: 110%; }

.teacher .image-wrapper{ overflow: hidden; padding-top: 10px; }

.teacher .image-wrapper img{ transform: scale(1); transition: all 2s ease-in-out; }

.teacher:hover .image-wrapper img{ filter: brightness(100%); transform: scale(1.08); }

.teacher .social-icon i{ font-size: 100%; font-weight: 400; margin: 0 10px; }


/* --------------------------------- */
/* 11. Counter Section Styles
 ----------------------------------- */

.counter-area { position: relative;  background-size: cover; background-repeat: no-repeat; text-align:center; 
	background-attachment: fixed; background-image: url(../../images/slider-img-3-1500x800.jpg); }
	
.counter-area .layer{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
	
.counter-area .counter{ margin-bottom: 40px; text-align:left; position: relative; }

.counter-area .counter .icon{ display: inline-block; font-size: 50px; float: left; margin: 0 15px; }

.counter-area .counter .counter-text{  display: inline-block; }

.counter-area .counter .counter-text .desc{ display: block; margin-top: 10px;  }


/* --------------------------------- */
/* 12. Event Section Styles
 ----------------------------------- */

.events-notice-area{ position: relative; }

.event{ margin-bottom: 40px; border-radius: 1px; }

.event .date{ margin-bottom: 10px; }

.event .date .main-date{ display: inline-block; letter-spacing: 0px; }

.event .date .month{ display: inline-block; }

.event .desc-wrapper .location{ font-size: 90%; margin-top: 5px; }

.event .desc-wrapper .location span:first-child{ margin-right: 15px; }

.event .desc-wrapper .desc{ margin: 20px 0; }

.event .attend-btn{ border-width: 1px; border-style: solid; padding: 8px 20px 6px; border-radius: 20px; font-size: .9em; }


/* --------------------------------- */
/* 13. Quoto Section Styles
 ----------------------------------- */

#quoto-carousel.carousel .item{ transition: all .3s ease-out; }
 
.quoto-area{ box-shadow: inset 0px 2px 5px -3px #aaa; position: relative; background-attachment: fixed; 
	background-repeat: no-repeat; background-image: url(../../images/slider-img-3-1500x800.jpg); }

.quoto-area .layer{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.quoto-area .margin-bottom-40{ margin-bottom: 40px; }

.quoto-area .quoto .quoto-icon{ font-size: 300%; }

.quoto-area .quoto .single-quoto{ line-height: 1.3; margin: 25px 0; }

.quoto-area .quoto .person{ margin-bottom: 40px;  position: relative; }

.quoto-area .quoto .person .author { display: inline-block; position: relative; bottom: -10px; text-align: left; }

.quoto-area .quoto .person .image-wrapper{ display: inline-block; margin-right: 10px; }

.quoto-area .quoto .person .image-wrapper img{ width: 70px; height: 70px; border-radius: 3px; }

.quoto-area .carousel{ margin-bottom: 55px; }

.quoto-area .carousel-indicators{ position: absolute; bottom: -15px;  margin: 0; width: auto; padding: 0; line-height: 0; 
	left: 50%; margin-left: -28px; }

.quoto-area .carousel-indicators li{ position: relative; height: 10px; width: 10px; margin: 0; margin-right: 10px; 
	transition: all .4s; border-radius: 10px; border-width: 1px; border-style: solid; } 


/* --------------------------------- */
/* 14. Latest News Section Styles
 ----------------------------------- */

.latest-news-area{ position: relative; }

.latest-news-area .news{ margin-bottom: 45px; box-shadow: 0px 0px 10px -2px #ddd; }

.news .desc-wrapper{ padding: 35px 25px; }

.news .image-wrapper{ position: relative; }

.news .image-wrapper a{ display: block; }

.news .image-wrapper .subject{ position: absolute; bottom: 0; width: 50%; left: 50%; text-align: center; margin-left: -25%; 
	padding: 7px 0; }

.news .desc-wrapper .date{ font-size: 90%; }

.news .desc-wrapper .author{ margin-left: 5px; font-size: 90%; }

.news .desc-wrapper .title{ margin: 5px 0; }

.news .desc-wrapper .desc{ margin: 15px 0px 20px; }

.news .desc-wrapper .read-more-btn i{ margin: 0px 5px ; }


/* --------------------------------- */
/* 15. Newsletter Section 
 --------------------------------- */

.newsletter-section{ box-shadow: inset 0px 2px 5px -3px #aaa; position: relative; background-attachment: fixed; 
	background-repeat: no-repeat; background-image: url(../../images/slider-img-3-1500x800.jpg); 
	padding: 80px 0 40px; }

.newsletter-section .layer{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.newsletter-section .heading{ margin: 0; margin-bottom: 40px; }

.newsletter-section .email-input{ margin: 2px 0 40px;  }

.newsletter-section .input-group-addon{ border-radius: 0; font-size: 150%; }

.newsletter-section .submit-btn{ border-radius: 0; }

.newsletter-section .submit-btn{ padding: 15px 20px; border-width: 1px; border-style: solid; letter-spacing: 1px; 
	transition: all .5s; }

.newsletter-section .email-input .form-control{ padding: 25px; border-left: 0; border-right: 0; }

.newsletter-section .email-input .form-control:focus{ box-shadow: none; }


/* --------------------------------- */
/* 16. Footer Section Styles
 ----------------------------------- */
 
footer { position: relative; background-image: url(../../images/footer-bg-map.png); background-repeat: no-repeat;
	background-position: 10% 30%; background-size: 60%; }

footer .footer-top .widget{ text-align: left; margin: 0 20px 20px 0; }

footer .footer-top .widget img{ height: 50px; width: auto; }

footer .footer-top .widget .desc{ margin-top: 10px; }
	
footer .footer-top ul.featured{ display: inline-block; margin-right: 20px; }

footer .footer-top .footer-section{ margin-bottom: 20px; }

footer .footer-top .footer-section .heading{ margin-bottom: 20px; }

footer .footer-top .footer-section .heading:after{ content:''; display: block; width: 50px; height: 1px; margin-top: 5px; }

footer .footer-top .footer-section li{ display: block; margin-bottom: 10px; position: relative; }

footer .footer-top .footer-section.about li:before,
footer .footer-top .footer-section.featured-links li:before{ content:'\f105 '; font-family: FontAwesome; margin-right: 10px; }

footer .footer-top .footer-section li span{ margin-left: 30px; }

footer .footer-top .footer-section li i{ position: absolute; top: 5px; }

footer .footer-bottom .footer-bottom-inner{ border-top-width: 0px; border-top-style: solid; padding: 15px 0; overflow: hidden; }

footer .footer-bottom .copyright-writing{ font-size: 90%; }

footer .footer-bottom .icons{ text-align: right; }

footer .footer-bottom .icons i{ margin-left: 15px; font-size: 90%; font-weight: 400; }


/* --------------------------------- */
/* 17. Move To Top Button Style
 ----------------------------------- */

.move-to-top{ position: fixed; bottom: 20px; right:20px; z-index: 10; opacity: 0; text-align: center; border-radius: 1px; 
	transition: all .6s; transform: scale(0); padding: 5px 15px; font-size: 120%; border-radius: 3px;  }

.move-to-top i{ margin: 0; }	

.visible-move-top-btn{ opacity: 1; transform: scale(1); }

.move-to-top:focus{ outline: none; }


.o-btn {
	position: relative;
	display: table;
	margin: 0 auto;
	height: 40px;
	padding: 2px 62px;
	margin-top: 10px;
	text-align: center;
	border: 1px solid #468EE4;
	max-width: 120px;
	background-color: transparent;
	background-image: none;
	line-height: 35px;
	white-space: nowrap;
	cursor: pointer;
	z-index: 1;
	transition: color .2s ease-out;
}

.o-btn .btn_label {
	text-align: center;
	bottom: 10px;

}

.bulls{
	font-size: 20px;
	position: relative;
	top: 3px;
}

