/*
====================================================
	
	TOC:
	=======
	
	1. Primary Styles
	2. Custom Utility Classes 
	3. Header Section Styles
	3.1 - Top Menu 
	3.2 - Main menu  
	3.3 - Dropdown 
	3.4 - Fixed Menu 
	3.5 - Search Area 
	3.6 - Toggle cake Icon 
	4. Slider Section Styling 
	4.1 - Slider Caption 
	5. Featured Category 
	6. Blog Post 
	7. Pagination 
	8. Related Post 
	9. Recent Posts 
	10. Catagories
	11. Popular Posts 
	12. Archives 
	13. Tags 
	14. Footer Section Styling  
	15. Move To Top

	
===================================================== */


/* ---------------------------------
1. Primary Styles
--------------------------------- */

/* Check out "common-css/primary-styles-n-colors-2.css" file*/


/* ---------------------------------
2. Custom Utility Classes
--------------------------------- */

/* Check out "common-css/primary-styles-n-colors.css-2" file*/


/* --------------------------------- */
/* 3. Header Section Styles
--------------------------------- */

/* 3.1 - Top Menu */

.top-menu{ background-color: #468EE4; }

.top-menu a{ color: #fff; }

.top-menu a:hover{ color: #eee; }


/* 3.2 - Main menu  */

.main-menu{ background-color: rgba(255,255,255,1); }

.main-menu.navbar-default ul.main-nav> li,
.main-menu.navbar-default ul.main-nav> li>a,
.main-menu.navbar-default .nav-right-area li .search-btn,
.main-menu .navbar-collapse{ color: #000; border-color: #ddd; }


/* Hover */

.main-menu ul.main-nav> li:hover> a,
.main-menu .nav-right-area li:hover .search-btn,
.fixed-manu.main-menu ul.main-nav> li:hover> a,
.fixed-manu.main-menu .nav-right-area li:hover .search-btn,
.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li:hover a{ color: #468EE4; }


/* 3.3 - Dropdown */

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu { background-color: #fff; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li{ color: #000; border-color: #ddd; }

.main-menu ul.main-nav> li.active> a,
.main-menu ul.main-nav> li.active> a:hover,
.fixed-manu.main-menu ul.main-nav> li.active> a,
.fixed-manu.main-menu ul.main-nav> li.active> a:hover,
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover{ color: #468EE4; background: none; }

.navbar-default .navbar-nav .open .dropdown-menu>li>a{ color: inherit; background: none; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu{ border-color: #468EE4; }


/* 3.4 - Fixed Menu */

.fixed-manu.main-menu,
.fixed-manu.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu{ background-color: #fff; }

.fixed-manu.main-menu ul.main-nav> li>a,
.fixed-manu.main-menu .nav-right-area li .search-btn,
.fixed-manu.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li{ color: #000; border-color: #eee; }



/* 3.5 - Search Area */

.search-area{ background-color: rgba(255,255,255,.99); }

.search-area .close-btn{ color: #000; }

.search-area input[type='text']{ color: #666; border-bottom: 1px solid #d0d2d2; background-color: transparent; }

.search-area button.search-submit-btn{ color: #666; background-color: transparent; }


/* 3.6 - Toggle cake Icon */

.main-menu .navbar-toggle span{ background-color: #222; }


/* --------------------------------- */
/* 4. Slider Section Styling 
--------------------------------- */

.carousel .black-layer{ background-color: rgba(0,0,10,.6);
	background-image: linear-gradient( to  top, rgba(0,0,0,.0), rgba(0,0,0,.4)); }

.carousel .white-layer{ background-color: rgba(245,255,235,.3); }


/* 4.1 - Slider Caption */

.carousel-writing .date,
.carousel-writing .author-info,
.carousel-writing .carousel-heading,
.carousel-writing .desc{ color: #fff; }


/* --------------------------------- */
 /* 5. Featured Category */
/* --------------------------------- */

.featured-category .featured-image:after{ border-color: rgba(255,255,255,.7); }

.featured-category .title{ background-color: rgba(255,255,255,.9); }


/* --------------------------------- */
/* 6. Blog Post */
/* --------------------------------- */

.blog-post{ border-color: #ddd; }

.blog-post .blog-image:after{ border-color: rgba(255,255,255,.7); }

.blog-post .continue-btn{ background-color: #468EE4; color: #fff; }

.blog-post .continue-btn:hover{ background-color: #333; }

.blog-post .category{ color: #468EE4; }


.blog-post .quoto{ border-color: #468EE4; ;}

.blog-content .desc:first-child:first-letter{ color: #468EE4; }
	

.blog-post ul.blog-post-info{ border-color: #ddd; }

.blog-post ul.blog-post-info> li.tag a{ background-color: #468EE4; color: #fff;}

.blog-post ul.blog-post-info> li.tag a:hover{ background-color: #000; color: #fff;}

.blog-post .blog-post-footer{ border-color: #ddd; }
	

/* --------------------------------- */
/* Comments Area */
/* --------------------------------- */

.comment .reply-btn{ background-color: #eee; color: #000; }

.comment .reply-btn:hover{ background-color: #000; color: #fff; }


/* --------------------------------- */
/* 15.1 - Leave Reply Area */
/* --------------------------------- */

.leave-reply-area .form-group .form-control{ border-color: #eee; }

.leave-reply-area .form-group .form-control:focus{ border-color: #468EE4; }

.leave-reply-area .form-group .btn-submit{ background-color: #468EE4; color: #fff; }

.leave-reply-area .form-group .btn-submit:hover{ background-color: #000; color: #fff; }


/* --------------------------------- */
/* 7. Pagination */
/* --------------------------------- */

.pagination >li> a{ background-color: #468EE4; color: #fff; }

.pagination>.active>a, .pagination>.active>a:focus, 
.pagination>.active>a:hover, .pagination>.active>span, 
.pagination>.active>span:focus, .pagination>.active>span:hover{ background-color: #000; }
	
	
/* --------------------------------- */
/* 8. Related Post */
/* --------------------------------- */

.related-post-area{ border-color: #ddd; }

.related-post .post-image-wrapper:hover:after{ border-color: #fff; }

.related-post .post-image-wrapper:after{ border-color: rgba(255,255,255,.8); }

.related-post .category{ color: #468EE4; }


/* --------------------------------- */
/* 9. Recent Posts */
/* --------------------------------- */

.recent-post{ border-color: #aaa; }

.recent-posts .post-image:after{ border-color: rgba(255,255,255,.8); }

.recent-posts .post-image:hover:after{ border-color: #fff; }
	

/* --------------------------------- */
/* 10. Catagories */
/* --------------------------------- */

.catagories .catagory> li> a{ border-color: #aaa; }

	
/* --------------------------------- */
/* 11. Popular Posts */
/* --------------------------------- */

.popular-post{border-color: #aaa; }

.popular-posts .post-image:after{border-color: rgba(255,255,255,.8); }

.popular-posts .post-image:hover:after{ border-color: #fff; }

.popular-posts .desc{ background-color: rgba(255,255,255,.9); }


/* --------------------------------- */
/* 12. Archives */
/* --------------------------------- */

.archives .dates> li> a{ border-color: #aaa; }


/* --------------------------------- */
/* 13. Tags */
/* --------------------------------- */

.tags .tag> li> a{ background-color: #468EE4; color: #fff; }

.tags .tag> li> a:hover{ background-color: #666; }


/* --------------------------------- */
/* 14. Footer Section Styling  
--------------------------------- */

footer .footer-top{ background-color: rgba(30,30,30,.95 ); }

footer .footer-bottom{ background-color: rgba(20,20,20,.99 ); }

footer .footer-section .heading{ color: #fff; }

footer p,
footer .footer-section li,
footer .footer-section a{ color: #aaa; }

footer .footer-top .footer-section .heading:after{ background-color: #468EE4; }

footer .footer-top .footer-section.get-in-touch i{ color: #468EE4; }

footer .footer-top .footer-section li a:hover,
footer .footer-top .footer-section li:before{ color: #468EE4; }

footer .footer-bottom .footer-bottom-inner{ border-color: #ccc; }


/* --------------------------------- */
/* 15. Move To Top
--------------------------------- */

.move-to-top,
.move-to-top:focus{ background-color: #468EE4; color: #fff; }

