/*
====================================================

* 	[Master Stylesheet]
	
	Theme Name :  LYCEUM
	Version    :  1.1
	Author     :  Roman Ahmed
	Author URI :  https://themeforest.net/user/desroman
	
====================================================

	TOC:
	=======
	
	1. Primary Styles
	2. Custom Utility Classes
	3. Animatons
	4. Header Section Styles
		4.1 - Top Menu 
		4.2 - Main menu 
		4.2 - Dropdown 
		4.3 - Fixed Menu 
		4.4 - Search Area 
		4.5 - Toggle cake Icon 
	5. Slider Section Styles
		5.1 - Slider Caption 
	6. Blog Section 
	7. Featured Category 
	8. Blog Post 
	9. Pagination 
	10. Related Post 
	11. Recent Posts 
	12. Catagories 
	13. Popular Posts 
	14. Archives 
	15. Tags 
	16. Footer Section Styles
	17. Move To Top Button Style


===================================================== */

/* ---------------------------------
1. Primary Styles
--------------------------------- */

/* Check out "common-css/primary-styles-n-colors.css-2" file*/


/* ---------------------------------
2. Custom Utility Classes
--------------------------------- */

/* Check out "common-css/primary-styles-n-colors.css-2" file*/


/* ---------------------------------
3. Animatons
--------------------------------- */

/* Check out "common-css/page-animation.css" file*/


/* --------------------------------- */
/* 4. Header Section Styles
 ----------------------------------- */

 header{ position:absolute; top:0; left: 0; width: 100%; }


/* 4.1 - Top Menu */

.top-menu{ margin: 0px; position: relative; z-index: 10; padding: 5px 0; }

.top-menu ul{ display: inline-block; text-align: center; }

.top-menu ul >li>a{ padding: 5px 10px; }

.top-menu ul >li>a i{ margin-right: 10px; }


/* 4.2 - Main menu */

.main-menu{ border: 0; border-radius: 0; margin: 0; text-align: right; width: 100%; position: relative; z-index: 10; 
	transition: all .2s ease-in-out; padding: 10px 0; }

.main-menu-inner{ position: relative; }

.main-menu .navbar-nav{ margin: 0; }

.main-menu .collapse.navbar-collapse{ line-height: 0!important ;}

.main-menu .nav-right-area{ position: absolute; top: 0; right: 0; z-index: 10; padding-left:30px; }

.main-menu ul.main-nav{ float: none; display: inline-block; margin-left: 120px; transition: all .3s ease-in-out; }

.main-menu ul.main-nav> li,
.main-menu .nav-right-area li { padding: 15px 0px; transition: all .2s; }

.main-menu ul.main-nav> li> a,
.main-menu .nav-right-area li .search-btn{ padding: 5px 15px; transition: all .2s; }
	
.main-menu .navbar-header{ position: absolute; left: 0; top: 0 ; }

.main-menu .main-logo img{ height: 40px; width: auto; margin: 10px 0; transition: all .3s; }


/* 4.2 - Dropdown */

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu{ border-radius: 0; padding: 0; border: 0;
	border-top-width: 2px; border-top-style: solid; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li{ display: block; border-bottom-width: 1px; border-bottom-style: solid; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu >li:last-child{ border-bottom-width: 0; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li> a{ padding: 13px 20px; }

.main-menu ul.main-nav> li.dropdown> ul.dropdown-menu> li> a:hover{  }

	
/* 4.3 - Fixed Menu */

.fixed-manu.main-menu{ position: fixed; top: 0; padding: 0px 0; box-shadow: 0px 2px 5px -2px #aaa; }


/* 4.4 - Search Area */

.search-area{ position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; z-index: -100; opacity: 0; 
	transition: opacity .3s .1s; }

.search-area-anim{ opacity: 1; z-index: 100; }

.search-area .close-btn{ font-size: 250%; position: absolute; top: 30px; right: 30px; }

.search-area input[type='text']{ font-size: 220%; padding: 10px 20px; position: absolute; top: 45%; margin-top: -20px; 
	left: 15%; right: 15%; width: 70%; }

.search-area button.search-submit-btn{ font-size: 220%; padding: 0px 20px; position: absolute; top: 45%; 
	right: 15%; margin-top: -10px; }


/* 4.5 - Toggle cake Icon */

.main-menu .navbar-toggle{ float: none; border-radius:0; margin: 18px auto 0; border: 0; width: 30px; height: 40px; 
	background: none!important; }

.navbar-toggle span{ display: block; position: absolute; height: 4px; width: 50%; }

.navbar-toggle span:nth-child(even){ left: 50%; }

.navbar-toggle span:nth-child(odd){ left: 0px; }

.navbar-toggle span:nth-child(1),
.navbar-toggle span:nth-child(2){ top: 0; }

.navbar-toggle span:nth-child(3),
.navbar-toggle span:nth-child(4){ top: 10px; }

.navbar-toggle span:nth-child(5),
.navbar-toggle span:nth-child(6){ top: 20px; }

 
/* --------------------------------- */
/* 5. Slider Section Styles
 ----------------------------------- */

.full-height .item{ width: 100%; background-size: cover; background-position: center; 
	background-repeat: no-repeat; padding: 180px 0 100px; }

.carousel.fade{ opacity: 1; }

.carousel.fade .item{ display: block; width: 100%; position: absolute; top: 0; left: 0; opacity: 0; z-index: -1; 
	transition: opacity 1s .2s ease-in-out;  display: table; }
	
.carousel.fade .item.active{ opacity: 1; z-index: 1; }

.carousel.fade .item:first-child{ position: relative; top: auto; }

.carousel .layer{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -1; }


/* 5.1 - Slider Caption */

.carousel-writing{ text-shadow: none; }

.carousel-writing.center-writing{ text-align: center; }

.carousel-writing.right-writing{ text-align: right; }

.carousel .carousel-writing .carousel-heading{ letter-spacing: 2px; }

.carousel-writing .date{ margin: 10px 0; }

.carousel-writing .author-info{ margin: 10px 0; }

.carousel-writing .icons i{ margin-right: 10px; }


/* --------------------------------- */
 /* 7. Featured Category */
/* --------------------------------- */

.featured-category{ position: relative; margin: 40px 0 0; }

.featured-category .featured-image{ position: relative; }

.featured-category .featured-image:after{ content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; 
	border-width: 11px; border-style: solid; z-index: 1; transition: all .3s; }

.featured-category .featured-image:hover:after{ top: 10px; left: 10px; right: 10px; bottom: 10px; border-width: 1px; }

.featured-category .title{ position: absolute; top: 50%; left:50%; width: 70%; margin-left: -35%; margin-top: -20px;
	height: 40px; line-height: 40px; }


/* --------------------------------- */
/* 8. Blog Post */
/* --------------------------------- */

.blog-post{ margin: 40px 0; padding: 40px 0; border-bottom-width: 0px; border-bottom-style: dashed; }


.blog-post:last-child{ border-bottom: 0; }

.blog-post .blog-image{ position: relative; width: 100%;  border-radius: 5px; overflow: hidden; }

.blog-post .blog-image:after{ content:''; position: absolute; top: 0; bottom: 0; left: 0; right: 0;
	border-width: 11px; border-style: solid; transition: all .3s; border-radius: 5px; }

.blog-post .blog-image:hover:after{ top: 10px; bottom: 10px; left: 10px; right: 10px; border-width: 1px; }

.blog-post .blog-content .desc{ margin: 25px 0; }

.blog-post .blog-content { padding: 15px 0; }

.blog-post .blog-content .desc:first-child:first-letter{ font-size: 600%; float: left; font-weight: 700; line-height: .8; 
	padding-right: 5px; }

.blog-post .blog-content .quoto{ border-left-width: 4px; border-left-style: solid; margin: 15px 0; padding-left: 15px; 
	line-height: 1.4; }


.blog-post ul.blog-post-info{ border-width: 1px; border-style: solid; border-left: 0; border-right: 0; padding: 20px 0; }

.blog-post ul.blog-post-info> li{ margin: 10px 10px; }

.blog-post ul.blog-post-info> li .author-image{ height: 40px; width: 40px; border-radius: 30px; }

.blog-post ul.blog-post-info> li.icons i{ font-size: 110%; margin-right: 10px; }

.blog-post ul.blog-post-info> li.tag i{ margin-right: 10px; }

.blog-post ul.blog-post-info> li.tag a{ padding: 5px 15px; }


.blog-post .blog-post-footer{ padding: 20px 0; border-bottom-width: 1px; border-bottom-style: solid; overflow: hidden; }

.blog-post .blog-post-footer .left-area { text-align: left; overflow: hidden; padding: 20px 0; padding-right: 25px; }

.blog-post .blog-post-footer .left-area .image-wrapper{ width: 100px; float: left; border-radius: 0 50px 50px 0; 
	overflow: hidden; }

.blog-post .blog-post-footer .left-area .title{ margin-left: 120px; }

.blog-post .blog-post-footer .left-area .title .nav-btn{ font-size: .9em; margin-bottom: 10px; display: block; }

.blog-post .blog-post-footer .right-area { text-align: right; overflow: hidden; padding: 20px 0; padding-left: 25px; }

.blog-post .blog-post-footer .right-area .image-wrapper{ width: 100px; float: right; border-radius: 50px 0 0 50px; 
	overflow: hidden;}

.blog-post .blog-post-footer .right-area .title{ margin-right: 120px; }

.blog-post .blog-post-footer .right-area .title .nav-btn{ font-size: .9em; margin-bottom: 10px; display: block; }


.blog-post .continue-btn{ padding: 10px 30px; transition: all .3s; }


/* --------------------------------- */
/* 10. Related Post */
/* --------------------------------- */

.related-post-area{ text-align: left; border-bottom-width: 1px; border-bottom-style: solid; padding: 40px 0 0; }

.related-post-area .title{ margin-bottom: 10px; }

.related-post{ margin-bottom: 40px; }

.related-post .post-image-wrapper{ position: relative; display: block;  border-radius: 5px;  overflow: hidden; }

.related-post .post-image-wrapper:after{ content:''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1;
	border-width: 6px; border-style: solid; transition: all .3s; border-radius: 5px;  }

.related-post .post-image-wrapper:hover:after{ top: 5px; left: 5px; right: 5px; bottom: 5px; border-width: 1px; }

.related-post .post-name{ margin: 10px 0; }

.related-post .date{ font-size: .85em; }

.related-post .category{ margin: 20px 0 0px; display: block; }


/* Comments Area */

.comments-area{ padding: 40px 0; }

.comments-area .title{ margin-bottom: 40px; }

.comment{ margin-bottom: 40px; }

.comment .reply-btn{ padding: 5px 20px; float: right; margin: 10px 20px; }

.comment .image-wrapper{ height: 80px; width: 80px; float: left; border-radius: 100px; overflow: hidden; }

.comment .desc{ margin-left: 80px; padding: 0px 15px; }

.comment .desc .date{ font-size: 85%; margin-top: 5px; }

.comment .desc .single-comment{ margin-top: 10px; }


/* 15.1 - Leave Reply Area */

.leave-reply-area .title{ margin-bottom: 40px; }

.leave-reply-area .form-group{ display: block; }

.leave-reply-area .form-group .form-control{ border-radius: 1px; border-width: 1px; border-style: solid; padding: 20px; }

.leave-reply-area .form-group .form-control:focus{ border-width: 1px; border-style: solid; box-shadow: none; }

.leave-reply-area .form-group .btn-submit{ padding: 8px 25px; border-radius: 0px; border-width: 1px; 
	border-style: solid; transition: all .3s; }

.leave-reply-area .form-group textarea{ max-width: 100%; }


/* --------------------------------- */
/* 11. Recent Posts */
/* --------------------------------- */

.recent-posts{ text-align: left; margin: 80px 0;  }

.recent-posts .title{ margin-bottom: 10px; }

.recent-post{ padding: 15px 0; border-bottom-width: 1px; border-bottom-style: dashed; overflow: hidden; }

.recent-posts .post-image{ width: 100px; float: left; position: relative; border-radius: 5px; overflow: hidden; }

.recent-posts .post-image:after{ content:''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1;
	border-width: 6px; border-style: solid; transition: all .3s; border-radius: 5px;  }

.recent-posts .post-image:hover:after{ top: 5px; left: 5px; right: 5px; bottom: 5px; border-width: 1px; }
	
.recent-posts .right-area{ margin-left: 110px; }

.recent-posts .right-area .date{ font-size: 90%; margin-top: 7px; }


/* --------------------------------- */
/* 12. Catagories */
/* --------------------------------- */

.catagories{ text-align: left; margin: 80px 0; }

.catagories .heading{ margin-bottom: 10px; }

.catagories .catagory> li { display: block; }

.catagories .catagory> li> a{ display: block; padding: 10px 0; border-bottom-width: 1px; border-bottom-style: dashed; }

	
/* --------------------------------- */
/* 13. Popular Posts */
/* --------------------------------- */

.popular-posts{ text-align: left; margin: 80px 0; }

.popular-posts .title{ margin-bottom: 10px; }

.popular-post{ padding: 20px 0; border-bottom-width: 1px; border-bottom-style: dashed; position: relative; }

.popular-posts .post-image{ position: relative;  border-radius: 5px; overflow: hidden; }

.popular-posts .post-image:after{ content:''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1;
	border-width: 6px; border-style: solid; transition: all .3s; border-radius: 5px;  }

.popular-posts .post-image:hover:after{ top: 5px; left: 5px; right: 5px; bottom: 5px; border-width: 1px; }

.popular-posts .desc .post-name{ margin: 10px 0 0px; }

.popular-posts .desc .date{ font-size: 90%; margin-top: 10px; }



/* --------------------------------- */
/* 14. Archives */
/* --------------------------------- */

.archives{ text-align: left; margin: 80px 0; }

.archives .title{ margin-bottom: 10px; }

.archives .dates> li { display: block; }

.archives .dates> li> a{ display: block; padding: 10px 0;  border-bottom-width: 1px; border-bottom-style: dashed; }


/* --------------------------------- */
/* 15. Tags */
/* --------------------------------- */

.tags{ text-align: left; margin: 80px 0; }

.tags .title{ margin-bottom: 10px; }

.tags .tag> li { margin-right: 5px; margin-bottom: 10px; }

.tags .tag> li> a{ padding: 7px 10px; }


/* --------------------------------- */
/* 16. Footer Section Styles
 ----------------------------------- */
 
footer { position: relative; background-image: url(../../images/footer-bg-map.png); background-repeat: no-repeat;
	background-position: 10% 30%; background-size: 60%; }

footer .footer-top .widget{ text-align: left; margin: 0 20px 20px 0; }

footer .footer-top .widget img{ height: 50px; width: auto; }

footer .footer-top .widget .desc{ margin-top: 10px; }
	
footer .footer-top ul.featured{ display: inline-block; margin-right: 20px; }

footer .footer-top .footer-section{ margin-bottom: 20px; }

footer .footer-top .footer-section .heading{ margin-bottom: 20px; }

footer .footer-top .footer-section .heading:after{ content:''; display: block; width: 50px; height: 1px; margin-top: 5px; }

footer .footer-top .footer-section li{ display: block; margin-bottom: 5px; position: relative; }

footer .footer-top .footer-section.about li:before,
footer .footer-top .footer-section.featured-links li:before{ content:'\f105 '; font-family: FontAwesome; margin-right: 10px; }

footer .footer-top .footer-section li span{ margin-left: 30px; }

footer .footer-top .footer-section li i{ position: absolute; top: 5px; }

footer .footer-bottom .footer-bottom-inner{ border-top-width: 0px; border-top-style: solid; padding: 15px 0; overflow: hidden; }

footer .footer-bottom .copyright-writing{ font-size: 90%; }

footer .footer-bottom .icons{ text-align: right; }

footer .footer-bottom .icons i{ margin-left: 15px; font-size: 90%; font-weight: 400; }


/* --------------------------------- */
/* 17. Move To Top Button Style
 ----------------------------------- */

.move-to-top{ position: fixed; bottom: 20px; right:20px; z-index: 10; opacity: 0; text-align: center; border-radius: 1px; 
	transition: all .6s; transform: scale(0); padding: 5px 15px; font-size: 120%; border-radius: 3px;  }

.move-to-top i{ margin: 0; }	

.visible-move-top-btn{ opacity: 1; transform: scale(1); }

.move-to-top:focus{ outline: none; }


th, td {
	border-bottom: 1px solid #ddd;
	padding: 5px 10px 5px;
	/*width: 100%;*/
}
.dbtn{
	float: right;
	position: relative;
	/*bottom: 25px;*/
}