
/* --------------------------------- */
/* Page Load Animation Classes
 ----------------------------------- */
 
@keyframes fade-from-bottom-anim {
  from { opacity: 0; transform: translate3d(0, 30%, 0); }
  70%{ opacity: .8; transform: translate3d(0, -1%, 0);  }
  100%{ opacity: 1; transform: translate3d(0, 0, 0); }
}
@keyframes fade-from-top-anim {
  from { opacity: 0; transform: translate3d(0, -30%, 0); }
  70%{ opacity: .8; transform: translate3d(0, 1%, 0); }
  100%{ opacity: 1; transform: translate3d(0, 0, 0); }
}
@keyframes fade-from-left-anim {
  from { opacity: 0; transform: translate3d(-10%, 0, 0); }
  100%{ opacity: 1; transform: translate3d(0, 0, 0); }
}
@keyframes fade-from-right-anim {
  from { opacity: 0; transform: translate3d(10%, 0, 0); }
  100%{ opacity: 1; transform: translate3d(0, 0, 0); }
}
@keyframes fade-opacity-anim {
  from { opacity: 0;}
  100%{ opacity: 1; }
}
@keyframes scale-down-anim {
  from { opacity: 0; transform: scale(1.02); }
  100%{ opacity: 1; transform: scale(1); }
}
@keyframes scale-up-anim {
  from { opacity: 0; transform: scale(.98); }
  100%{ opacity: 1; transform: scale(1); }
}

@keyframes rotate-form-left-anim{ 
	from { opacity: 0; transform-origin: -30%; perspective: 500px; transform: rotateY(-40deg); }
	100%{ opacity: 1; transform-origin: -30%; perspective: 500px; transform: rotateY(0deg); }
}


.fade-from-left,
.fade-from-right{ animation-duration: .8s ; animation-fill-mode: forwards; }

.fade-from-top,
.fade-from-bottom,
.fade-opacity,
.scale-down,
.scale-up,
.rotate-form-left{ animation-duration: 1s ; animation-fill-mode: forwards; }


.fade-from-bottom{ animation-name: fade-from-bottom-anim; }
.fade-from-top{ animation-name: fade-from-top-anim; }
.fade-from-left{ animation-name: fade-from-left-anim; }
.fade-from-right{ animation-name: fade-from-right-anim; }
.fade-opacity{ animation-name: fade-opacity-anim; }
.scale-down{ animation-name: scale-down-anim; }
.scale-up{ animation-name: scale-up-anim ; }
.rotate-form-left{ animation-name: rotate-form-left-anim ; }


/* --------------------------------- */
/* Slider caption animation */
/* --------------------------------- */

.animated { opacity: 0; animation-fill-mode: forwards; }

@keyframes sm-slider-top-to-bottom-anim{ 
	0%{ opacity:0; transform:translateY(10px); }
	100%{ opacity:1; transform:translateY(00px); }
}

.sm-slider-top-to-bottom{ animation: sm-slider-top-to-bottom-anim; }

@keyframes sm-slider-bottom-to-top-anim{ 
	0%{ opacity:0; transform:translateY(-10px); }
	100%{ opacity:1; transform:translateY(00px); }
}

.sm-slider-bottom-to-top{ animation: sm-slider-bottom-to-top-anim; }

@keyframes sm-slider-right-to-left-anim{ 
	0%{ opacity:0; transform:translateX(10px); }
	100%{ opacity:1; transform:translateX(00px); }
}

.sm-slider-left-to-right{ animation: sm-slider-left-to-right-anim; }

@keyframes sm-slider-left-to-right-anim{ 
	0%{ opacity:0; transform:translateX(-10px); }
	100%{ opacity:1; transform:translateX(00px); }
}

.sm-slider-right-to-left{ animation-name: sm-slider-right-to-left-anim; }



@keyframes lg-slider-top-to-bottom-anim{ 
	0%{ opacity:0; transform:translateY(70px); }
	100%{ opacity:1; transform:translateY(00px); }
}

.lg-slider-top-to-bottom{ animation: lg-slider-top-to-bottom-anim; }

@keyframes lg-slider-bottom-to-top-anim{ 
	0%{ opacity:0; transform:translateY(-70px); }
	100%{ opacity:1; transform:translateY(00px); }
}

.lg-slider-bottom-to-top{ animation: lg-slider-bottom-to-top-anim; }

@keyframes lg-slider-right-to-left-anim{ 
	0%{ opacity:0; transform:translateX(70px); }
	100%{ opacity:1; transform:translateX(00px); }
}

.lg-slider-left-to-right{ animation: lg-slider-left-to-right-anim; }

@keyframes lg-slider-left-to-right-anim{ 
	0%{ opacity:0; transform:translateX(-70px); }
	100%{ opacity:1; transform:translateX(00px); }
}

.lg-slider-right-to-left{ animation-name: lg-slider-right-to-left-anim; }




@keyframes slider-top-to-bottom-anim{ 
	0%{ opacity:0; transform:translateY(40px); }
	100%{ opacity:1; transform:translateY(00px); }
}

.slider-top-to-bottom{ animation: slider-top-to-bottom-anim; }

@keyframes slider-bottom-to-top-anim{ 
	0%{ opacity:0; transform:translateY(-40px); }
	100%{ opacity:1; transform:translateY(00px); }
}

.slider-bottom-to-top{ animation: slider-bottom-to-top-anim; }

@keyframes slider-right-to-left-anim{ 
	0%{ opacity:0; transform:translateX(40px); }
	100%{ opacity:1; transform:translateX(00px); }
}

.slider-left-to-right{ animation: slider-left-to-right-anim; }

@keyframes slider-left-to-right-anim{ 
	0%{ opacity:0; transform:translateX(-40px); }
	100%{ opacity:1; transform:translateX(00px); }
}

.slider-right-to-left{ animation-name: slider-right-to-left-anim; }

@keyframes slider-scale-up-anim{ 
	0%{ opacity:0; transform:scale(.95); }
	100%{ opacity:1; transform:scale(1); }
}


.slider-scale-up{ animation-name: slider-scale-up-anim; }

@keyframes slider-scale-down-anim{ 
	0%{ opacity:0; transform:scale(1.05) rotateY(10deg); }
	100%{ opacity:1; transform:scale(1) rotateY(0deg); }
}

.slider-scale-down{ animation-name: slider-scale-down-anim; }


.lg-slider-top-to-bottom,
.lg-slider-bottom-to-top,
.lg-slider-left-to-right,
.lg-slider-right-to-left{ animation-duration: .6s; animation-timing-function: ease-out; animation-fill-mode: forwards; }

.sm-slider-top-to-bottom,
.sm-slider-bottom-to-top,
.sm-slider-left-to-right,
.sm-slider-right-to-left,
.slider-top-to-bottom,
.slider-bottom-to-top,
.slider-left-to-right,
.slider-right-to-left,
.slider-scale-up,
.slider-scale-down{ animation-duration: .8s; animation-timing-function: ease-out; animation-fill-mode: forwards; }

.animation-delay-1{ animation-delay: .4s; }

.animation-delay-2{ animation-delay: .8s; }

.animation-delay-3{ animation-delay: 1.2s; }

.animation-delay-4{ animation-delay: 1.6s; }

.animation-delay-5{ animation-delay: 2.0s; }


/* --------------------------------- */
/* PRELOADER
 ----------------------------------- */
 
body { overflow: hidden; }

#preloader { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: #fff; z-index: 99; }

#status { width: 100px; height: 100px; position:absolute; left:50%;  top:50%; margin: -50px 0 0 -50px;
	background-image:url(../images/triangle.gif); background-repeat:no-repeat; background-position:center; }
 
 