
/* --------------------------------- 
	1. Primary Styles
 ----------------------------------- */

html { font-size: 100%; }

body{ margin: 0; overflow-x: hidden; font-size: 15px; font-family: 'Roboto', sans-serif; word-wrap: break-word; }

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img{ margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6{ font-family: 'Merriweather', sans-serif; font-weight: 300; line-height: 1.2; }

p{ line-height: 1.6; font-size: 1em; font-weight: 300; }

h1{ font-size: 2.8em; }
h2{ font-size: 2.4em; }
h3{ font-size: 1.8em; }
h4{ font-size: 1.3em; }
h5{ font-size: 1.15em; }
h6{ font-size: .85em; }

header .main-menu{ font-size: .8em; }

.dropdown-menu{ font-size: 1em; }

b{ font-weight: 700; }

strong{ font-weight: 700; }

li{ list-style: none; display: inline-block; }
	
button{ display: inline-block; border: 0; outline: none; }
	
input{ border: 0; outline: none; }

a{ display: inline-block; text-decoration: none;  transition: all .3s ease; }

a:focus { outline: 1px dotted; }

a:focus, a:active, a:hover { text-decoration: none; }

a[href]:active, a[href]:hover { outline: 0; }

span{ display: inline-block; }

table { border-collapse: collapse; border-spacing: 0; }

img { width: 100%; }

i{ margin-right: 5px; }


/* --------------------------------- 
	2. Custom Utility Classes
 ----------------------------------- */

.normal-text{ font-weight: 300 !important; }

.section{ padding: 100px 0 60px; overflow: hidden; }

.section .heading{ margin-bottom: 60px; }

.align-right{ float: right ; }

.align-left{ float: left; }

.heading{ letter-spacing: 0px; }

.heading-desc{ letter-spacing: 2px; margin: 5px 0; }

.center-text{ text-align: center !important; }

.reset-padding{ padding-right: 0px; padding-left: 0px; }

.margin-bottom-10{ margin-bottom: 10px; }

.color-with-icon-hover,
.color-with-icon-hover i{ transition: all .1s; }

.color-with-icon-hover:hover i{ transform-origin: top left; transform: scaleX(1.2); }


.owl-theme .owl-nav{ opacity: 0; }

.owl-theme:hover .owl-nav{ opacity: 1; }

.owl-nav .owl-next,
.owl-nav .owl-prev{
	position: absolute; 
	bottom: 48%; 
	height:35px;
	line-height: 35px;
	width:40px;
	text-align:center;
	border-width: 1px;
	border-style: solid ;
	border-color: #aaa;
}
.owl-theme .owl-nav [class*='owl-'] {
    color: #555;
	padding: 0; 
    font-size: 14px;
    background: #fff;
    border-radius: 1px;
 }
 
.owl-nav .owl-prev{ left: -20px; }
.owl-nav .owl-next{ right: -20px; }

.owl-theme .owl-nav .owl-prev:hover,
.owl-theme .owl-nav .owl-next:hover{ background-color: #000; border-color: #000; }


/* ---------------------------------
	3. Primary Colors
 ----------------------------------- */
 
body,p { color: #777; }

a, i{ color: inherit; }

a:hover{ color: #468EE4; }

h1,h2,h3,h4,h5,h6{ color: #333; }

.heading-desc{ color: #777; }


/* ---------------------------------
	4. Custom Utility Classes
--------------------------------- */

.layer{ background-color: rgba(88, 153, 230, .93); }

.color-with-icon-hover:hover{ color: #333!important; }

.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text h6,
.white-text p,
.white-text span,
.white-text{ color: #fff!important; }

.fa-facebook{ color: #374D72; }

.fa-twitter{ color: #1DA1F2; }

.fa-google{ color: #EA4335; }

.fa-vimeo{ color: #00B3EC; }

.fa-flickr{ color: #FF0080; }

.fa-linkedin{ color: #0177B5; }

.fa-yahoo{ color: #620385; }


.fa-facebook:hover,
.fa-twitter:hover,
.fa-google:hover,
.fa-vimeo:hover,
.fa-flickr:hover,
.fa-linkedin:hover,
.fa-yahoo:hover{ color: #aaa; }




